---

import Features from "~/components/features.astro";
import firstPage from "/src/data/showcase/images/workpls.jpg"


---

<html lang="en" class="h-full motion-safe:scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

    <title>WebRepair</title>
    
  </head>  
 
  <body class="">
    
    <div class=" "> 
 
      <div class="grid grid-cols-12 gap-10 mr-16 pt-10 text text-2xl"> 
    
        <a class=" col-span-2 flex justify-center ml-36 text-5xl border-2 border-white text-white font-mono font-extrabold"> WR </a>
        
        <a href="" class="col-span-2"></a>
        
        <a href="/second" class=" hover:bg-neutral-50 border border-gray-500 ml-20 mr-20 col-span-4 flex justify-center mt-5 ">NEXT DESIGN</a>
    
        <a href="" class="col-span-2"></a>

        <a href="" class="col-span-2"></a>
    
       
        
      </div>
    </div>
      
    
    <html> 
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Oswald:wght@300;400&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
      
      <div class=" grid grid-cols-12">
    
        <div class="  col-span-6">
          
          <div class=" ml-24 mt-36 font-sans">
            <div class=" font text-black text-4xl flex justify-start"> Real Estate CO. <a class="text-gradient ml-2"> </a>  </div>
            <h1 class=" font mt-14 flex justify-start text-6xl">	
              EXPERTISE. </h1> 
            
            <h1 class=" font mt-10 flex justify-start text-6xl "> 
                COMMITMENT.
            </h1>
    
            <h1 class=" font mt-10 flex justify-start text-6xl "> 
              VALUE.
            </h1>
            
            
          </div>
        </div>
    
        <div class=" pb-28 col-span-6">
            <div class=" mr-10 mt-20"> <img src={firstPage} alt="photo"> </div>
        </div>
    
      </div>
    
    <!---  
      <div class=" mt-56 flex justify-center text-2xl mb-5"> Product Section, can be changed to anything </div>
    
      <div class=" grid grid-cols-12">
    
        <div class=" col-span-4 border-2 rounded-xl border-black m-5 hover:rounded-none p-4"> <img src={product1} alt=""> </div>
    
        <div class=" col-span-4 border-2 rounded-xl border-black m-5 hover:rounded-none p-4"> <img src={product3} alt=""> </div>
    
        <div class=" col-span-4 border-2 rounded-xl border-black m-5 hover:rounded-none p-4"> <img src={product2} alt=""> </div>
    
      </div>
    
      <div class="grid grid-cols-12"> 
    
          <div class=" flex justify-center col-span-4 mt-10 text-2xl opacity-90"> product description </div>
    
          <div class=" flex justify-center col-span-4 mt-10 text-2xl opacity-90"> product description </div>
    
          <div class=" flex justify-center col-span-4 mt-10 text-2xl opacity-90"> product description </div>
    
      </div>
      
    
    
      
    
      <div class=" grid grid-cols-12 mt-40 mb-28">
    
    
    <div class="  col-span-6">
            <div class=" ml-10 mt-20"> <img src={cityBg2} alt=""> </div>
        </div>
    
    
        <div class="  col-span-6">
          
          <div class=" mt-28">
            
            
            
            <div class=" mb-10 text-left text-4xl font-bold font-sans ml-40 mr-40 leading-loose"> For users, 
              a fast-loading website creates a positive first impression and improves engagement.
              </div>
              <div class=" mb-28 text-xl ml-36 mr-28 font-sans mt-5 leading-loose text-gray-500">
              Users are more likely to stick around 
              and explore a website if pages load quickly and smoothly. On the other hand, slow-loading 
              websites can frustrate users and make them less likely to return in the future.
     </div>
            
    
            
            
          </div>
        </div>
    
        
    
      </div>
    
    
            <div class=" grid grid-cols-12 bg-black"> 
                  
                  <div class=" col-span-12 p-20"> <div class=" text-2xl text-white opacity-80 flex justify-center"> This website serves as a design showcase only </div> </div>
    
            </div>
    --->
    

   
    
    </html>
    
      
    
    
  </body>
</html>




<style>
  .font {
     font-family: 'Sawarabi Gothic', sans-serif;
    }
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    
  }
  h1 {
    font-size: 4.2rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .text-gradient2 {
    background-image: var(--accent-gradient2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  :root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  --accent-gradient2: linear-gradient(45deg, rgb(var(--accent)), #1503b4 40%, rgb(255, 255, 255) 60%);
}
html {
  font-family: system-ui, sans-serif;
  background-color: #dfc4a9;
}
body {
  background-color: #dfc4a9;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
</style>